@model userinfo
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>@ViewBag.ErrorMessage</h1>
<form asp-action="UserLogin" asp-controller="LoginAndRegister">
	Kullanici Adi:
	<input class="form-control" asp-for="username" />
	<span asp-validation-for="username"></span>
	Sifre:
	<input type="password" class="form-control" asp-for="password" />
	<span asp-validation-for="password"></span>

	<input type="submit" value="Giris Yap"></input>



</form>