<h1>Hospital</h1>
<form>
	Kullanici Adi:
	<input type="text" name="adminuname" />
	Sifre:
	<input type="password" name="adminpassword" />
	<button type="submit" value="post">Giris Yap</button>
	
	

	
	
		



</form>