@{
    Layout = "_LoggedInLayout";
}
@model List<Doctors>
<html>
    <head>
    <style>
        table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
    </style>
    </head>
    <body>
        <h1>Ekibimiz</h1>
        <br />
    <div class="doctors">
        <table>
            <thead>
                <tr>
                    <th>Brans</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model)
                {
                    <tr>
                        <td>@doctor.Branch</td>
                        <td>@doctor.Name</td>
                        <td>@doctor.Surname</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>